@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Cuisine;

<h1>CUISINE DETAILS</h1>
<hr />
<h4>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h4>

<ul>
@if (@Model.Restaurants.Count == 0)
{
  <p>no restaurants found</p>
}

@foreach (Restaurant restaurant in @Model.Restaurants)
{
  <li><a href="/Restaurants/Details/@restaurant.RestaurantId">@restaurant.Name</a></li>
}
</ul>

<div class="four-buttons">
  <a class="btn" href="/Restaurants/Create">ADD RESTAURANT</a>
  @Html.ActionLink("VIEW ALL CUISINES", "Index", "Cuisines", null, new { @class="btn" })
  @Html.ActionLink("EDIT CUISINE", "Edit", "Cuisines", new { id = Model.CuisineId }, new { @class="btn" })
  @Html.ActionLink("DELETE CUISINE", "Delete", "Cuisines", new { id = Model.CuisineId }, new { @class="btn" })
</div>