@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h1>EDIT THIS CUISINE: @Html.DisplayFor(model => model.Type)</h1>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CuisineId)

  @Html.LabelFor(model => model.Type)
  @Html.EditorFor(model => model.Type)

  <input type="submit" class="btn-block" value="SAVE CHANGES" />
}

@Html.ActionLink("VIEW ALL CUISINES", "Index", "Cuisines", null, new { @class="btn-block" })