@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h1>ADD NEW RESTAURANT</h1>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.PriceRange)
    @Html.TextBoxFor(model => model.PriceRange)
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")
  </div>

  <input type="submit" value="ADD RESTAURANT" class="btn-block" />
}

@Html.ActionLink("VIEW ALL RESTAURANTS", "Index", "Restaurants", null, new { @class="btn-block" })