@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Restaurant

<div class="well">
  <h1>Restaurant Details</h2>
  <hr />
  <h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
  <h4>Price Range: @Html.DisplayFor(model => model.PriceRange)<h3>

  @if (Model.Reviews.Count == 0)
  {
    <h3>This restaurant has no reviews.</h3>
  }

  <div class="well" id="reviews">
    <h3>Reviews</h3>
    @foreach (Review review in Model.Reviews)
    {
      <div class="well" id="review">
        <h4>@review.Title</h4>
        <hr />
        <p>@review.Description</p>
      </div>
    }
  </div>

  <div class="fake-button well">
    <center><p class="link">@Html.ActionLink("Add Review", "Create", "Reviews")</p></center>
  </div>
  <div class="fake-button well">
    <center><p class="link">@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</p></center>
  </div>
  <div class="fake-button well">
    <center><p class="link">@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</p></center>
  </div>
  <div class="fake-button well">
    <center><p class="link">@Html.ActionLink("Back to list", "Index")</p></center>
  </div>
</div>