@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Restaurant

<h1>@Html.DisplayFor(model => model.Name)</h1>
<hr />
<h4>PRICE RANGE: @Html.DisplayFor(model => model.PriceRange)</h4>

@if (Model.Reviews.Count == 0)
{
  <h4>No reviews available</h4>
}
<hr />
<div id="reviews">
  <h3>REVIEWS</h3>
  @foreach (Review review in Model.Reviews)
  {
    <div id="review">
      <h4>@review.Title</h4>
      <hr />
      <p>@review.Description</p>
    </div>
  }
</div>

<div class="four-buttons">
  @Html.ActionLink("ADD REVIEW", "Create", "Reviews", null, new { @class="btn" })
  @Html.ActionLink("EDIT RESTAURANT", "Edit", "Restaurants", new { id = Model.RestaurantId }, new { @class="btn" })
  @Html.ActionLink("DELETE RESTAURANT", "Delete", "Restaurants", new { id = Model.RestaurantId }, new { @class="btn" })
  @Html.ActionLink("VIEW ALL RESTAURANTS", "Index", "Restaurants", null, new { @class="btn" })
</div>